{% load i18n admin_urls %}

{% block object-tools-items %}
  {% if has_add_permission %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
      {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
    </a>
  </li>
  <li>
    <a href="{% url 'admin:upload_excel' %}" class="addlink">批量 上传刻盘记录</a>
  </li>
  <li>
    <a href="{% url 'admin:download_excel' %}" class="addlink">下载 Excel模板</a>
  </li>
  {% endif %}
{% endblock %}
